// тк мы к ним обращаемся везде ниже
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  background-color: #292e3d;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  &.hidden {
    overflow: hidden;
    height: 100vh;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.plyr--full-ui input[type="range"] {
  color: $brand-pink;
}
.plyr--video .plyr__control:focus-visible,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
  background: $brand-pink;
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
    padding: 0px 15px;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

.btn {
  font-size: 18px;
  font-family: $mainFont;
  font-weight: 600;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  line-height: 150%; /* 27px */
  cursor: pointer;
  border: 2px solid transparent;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease,
    border-color 0.3s ease;
  &:active {
    transform: translateY(2px);
  }
  color: $brand-white;
  border-radius: 27px;
  background: $brand-pink;
  box-shadow: 0px 5px 20px 0px rgba(250, 0, 86, 0.15);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__logo {
  margin-right: 50px;
  flex-shrink: 0;
  width: 95px;
  height: 60px;
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left center;
  }
}
.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  border-bottom: 1px solid #b9b9b9;
  .header__btn {
    margin-left: auto;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0px 13px;
  text-transform: uppercase;
}
.main-screen {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  position: relative;
}

.main-screen-subtitle {
  font-size: 38px;
  margin-bottom: 17px;
  font-weight: 600;
}
.main-screen__container {
  overflow: hidden;
  padding: 190px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.main-screen__title {
  font-size: 112px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  span {
    display: block;
  }
}
.main-screen__date,
.main-screen__place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%) !important;
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 37.5px */
  .small-selection {
    font-size: 18px;
  }
}
.main-screen__date {
  left: 4%;
}
.main-screen__place {
  top: 52%;
  right: 3%;
}
.main-screen__middle-text {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 37.5px */
  margin-bottom: 180px;
}

.main-screen__large-text {
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 52.5px */
}

// .vertical-slider_bg {
//   svg .svg-elem-1 {
//     stroke-dashoffset: 1455.2303466796875px;
//     stroke-dasharray: 1455.2303466796875px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
//   }

//   &.aos-animate .svg-elem-1 {
//     stroke-dashoffset: 2910.460693359375px;
//   }

//   svg .svg-elem-2 {
//     stroke-dashoffset: 1455.2303466796875px;
//     stroke-dasharray: 1455.2303466796875px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0.12s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
//   }

//   &.aos-animate .svg-elem-2 {
//     stroke-dashoffset: 2910.460693359375px;
//   }

//   svg .svg-elem-3 {
//     stroke-dashoffset: 445.4706726074219px;
//     stroke-dasharray: 445.4706726074219px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0.24s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
//   }

//   &.aos-animate .svg-elem-3 {
//     stroke-dashoffset: 890.9413452148438px;
//   }

//   svg .svg-elem-4 {
//     stroke-dashoffset: 445.4713439941406px;
//     stroke-dasharray: 445.4713439941406px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0.36s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
//   }

//   &.aos-animate .svg-elem-4 {
//     stroke-dashoffset: 890.9426879882812px;
//   }

//   svg .svg-elem-5 {
//     stroke-dashoffset: 1455.23046875px;
//     stroke-dasharray: 1455.23046875px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0.48s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
//   }

//   &.aos-animate .svg-elem-5 {
//     stroke-dashoffset: 2910.4609375px;
//   }

//   svg .svg-elem-6 {
//     stroke-dashoffset: 1455.23046875px;
//     stroke-dasharray: 1455.23046875px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0.6s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
//   }

//   &.aos-animate .svg-elem-6 {
//     stroke-dashoffset: 2910.4609375px;
//   }

//   svg .svg-elem-7 {
//     stroke-dashoffset: 1386px;
//     stroke-dasharray: 1386px;
//     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
//       0.72s;
//     transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
//   }

//   &.aos-animate .svg-elem-7 {
//     stroke-dashoffset: 2772px;
//   }
// }

.vertical-slider {
  &::before {
    position: absolute;
    width: 100%;
    content: "";
    height: 50vh;
    left: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  position: relative;
  height: 400vh;
  // overflow: hidden;
  .vertical-slider_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vertical-slider_text {
    max-width: 800px;
  }
}
.vertical-text-slider {
  pointer-events: none !important;
  * {
    pointer-events: none !important;
  }
  height: 100vh;
  position: sticky;
  top: 0;
  .swiper-slide {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 55.2px */
  }
  .swiper-pagination {
    right: 100px;
    display: flex;
    flex-direction: column;
    .swiper-pagination-bullet {
      transition: background-color 0.2s ease-in-out;
      margin: 15px 0;
      background-color: #fff;
      opacity: 1 !important;
      &.swiper-pagination-bullet-active {
        border-radius: 0;
        background-color: $brand-pink;
        transform: rotate(45deg);
      }
    }
  }
}

.spinner-planet {
  position: absolute;
  bottom: -45vh;
  left: 0;
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  &._reverse {
    transform: scale(-1, 1);
  }
}
.spinner-planet__container {
  padding: 80px;
  width: 200vw;
  height: 200vw;
  transform: translateX(-36%);
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-color: #000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: translate(7%, 4%);
    filter: blur(60px);
    -webkit-filter: blur(60px);
    z-index: 2;
  }
  img {
    filter: contrast(200%) blur(6px)
      drop-shadow(0px 0px 45px rgba(93, 120, 255, 0.8));
    -webkit-filter: contrast(200%) blur(6px)
      drop-shadow(0px 0px 45px rgba(93, 120, 255, 0.8));
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation-name: rotation;
    animation-duration: 320s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-title {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 100px 0 !important;
  color: #fff;
  font-size: 63px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 74.4px */
  &._small {
    font-size: 46px;
  }
}

.interesting__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px !important;
  margin-bottom: 100px !important;
  border-bottom: 1px solid rgb(185, 185, 185);
  .list-item {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
    width: 50%;
    display: flex;
    color: #d4d4d4;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    .list-item__ico {
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      background-color: #fa0056;
      border-radius: 50%;
      margin-right: 30px;
      margin-top: 8px;
    }
    &:nth-child(odd) {
      padding-right: 60px;
    }
  }
}

.plyr {
  .plyr__poster {
    background-size: cover;
  }
}

.player__wrapper {
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(185, 185, 185);
  position: relative;
}

.plyr__control--overlaid {
  svg {
    display: none;
  }
  border-radius: inherit;
  width: 155px !important;
  height: 105px !important;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='155' height='105' viewBox='0 0 155 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='155' height='105' rx='27' fill='black'/%3e%3cpath d='M104 52.5L62 74L62 31L104 52.5Z' fill='%23FA0056'/%3e%3c/svg%3e ");
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: center !important;
  &:hover {
    background-color: transparent !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='155' height='105' viewBox='0 0 155 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='155' height='105' rx='27' fill='black'/%3e%3cpath d='M104 52.5L62 74L62 31L104 52.5Z' fill='%23FA0056'/%3e%3c/svg%3e ") !important;
  }
}
.pink-selection {
  color: $brand-pink;
}
.mint-selection {
  color: #47c6b6 !important;
}

.program__list {
  padding-bottom: 100px !important;
  border-bottom: 1px solid rgb(185, 185, 185);
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  .list-item {
    color: #d4d4d4;
    line-height: 150%;
    font-weight: 300;
    width: calc(33.33% - 35px);
    margin-right: 35px;
    font-size: 20px;
  }
  .list-item__ico {
    color: #fa0056;
    font-size: 83px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.flying-map {
  background-image: url(../img/slider-bg.jpg);
  background-color: #000;
  background-attachment: fixed;
  padding-top: 150px;
  position: relative;
  height: 2100px;
}
.flying-map__title {
  color: #fff;
  text-align: center;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 74.4px */
}

.flying-map__block {
  display: flex;
  position: absolute;
  align-items: center;
  .block__image {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .block__content {
    max-width: 420px;
  }
  .block__date {
    color: #fa0056;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 55.2px */
    margin-bottom: 24px;
  }
  .block__title {
    margin-bottom: 24px;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
  }
  .block__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }
  &[data-block="1"] {
    left: 46.5%;
    top: 120px;
    .block__image {
      margin-right: 50px;
      width: 107px;
      height: 107px;
    }
    .block__border {
      position: absolute;
      width: 120%;
      height: 120%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 50%;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-83%, -41%);
      width: 2454px;
      height: 2454px;
      background-image: url(../img/orbit.svg);
      background-repeat: no-repeat;
      background-size: 2454px;
      background-position: center;
      pointer-events: none;
    }
  }
  &[data-block="2"] {
    left: 17%;
    top: 360px;
    .block__image {
      width: 134px;
      height: 134px;
      margin-right: 50px;
    }
    .block__border {
      position: absolute;
      width: 145%;
      height: 145%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='204' height='204' viewBox='0 0 204 204' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect opacity='0.6' x='1.01465' y='59.7959' width='154.785' height='154.785' transform='rotate(-22.3189 1.01465 59.7959)' stroke='white'/%3e%3crect opacity='0.3' x='60.5381' y='1' width='154.402' height='154.402' transform='rotate(22.6811 60.5381 1)' stroke='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &[data-block="3"] {
    left: 51%;
    top: 630px;
    .block__image {
      width: 121px;
      height: 121px;
      margin-right: 50px;
    }
    .block__border {
      position: absolute;
      width: 230%;
      height: 230%;
      left: 50%;
      top: 50%;
      transform: translate(-49%, -51%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='276' height='276' viewBox='0 0 276 276' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cellipse opacity='0.6' cx='137.726' cy='137.726' rx='66.1442' ry='66.531' stroke='white'/%3e%3cpath opacity='0.6' d='M207 69.0002L191.459 84.5408' stroke='white'/%3e%3cpath opacity='0.6' d='M84.54 191.46L68.9995 207.001' stroke='white'/%3e%3cpath opacity='0.6' d='M207 207L191.459 191.46' stroke='white'/%3e%3cpath opacity='0.6' d='M84.54 84.5408L68.9995 69.0002' stroke='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &[data-block="4"] {
    left: 3%;
    top: 820px;
    .block__image {
      width: 218px;
      height: 218px;
      margin-right: 50px;
    }
    .block__border {
      position: absolute;
      width: 110%;
      height: 110%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
  }

  &[data-block="5"] {
    left: 42%;
    top: 1100px;
    .block__image {
      width: 243px;
      height: 110px;
      margin-right: 50px;
      img {
        position: relative;
        z-index: 2;
      }
    }
    .block__border {
      z-index: 1;
      position: absolute;
      width: 133px;
      height: 133px;
      left: 51%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
  }
}

.flying-map__btn {
  position: absolute;
  left: 50%;
  bottom: 280px;
  transform: translateX(-50%);
}

.cards-slider__title {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 55.2px */
}

.cards-slider__container {
  .cards-slider__head {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .cards-slider__arrows {
    margin-top: 40px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    .swiper-button-prev,
    .swiper-button-next {
      flex-shrink: 0;

      background-color: #fa0056;
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      margin: 0;
      transform: none;
      width: 64px;
      height: 64px;
      transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
      &::after {
        display: none;
      }
      svg {
        width: 50%;
        height: 50%;
        object-fit: contain;

        path {
          transition: fill 0.3s ease-in-out;
        }
      }
      &:hover {
        border-color: $brand-pink;
        svg {
          transition: transform 0.2s ease-in-out;
        }
      }
      &:active {
        svg {
          transform: scale(0.8);
        }
      }
    }
    .swiper-pagination {
      position: static;
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        margin: 0px 20px;
        background-color: #b9b9b9;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: #fa0056;
      }
    }
    align-items: center;
  }
  .cards-slide__image {
    margin-bottom: 25px;
    height: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: 100%;
    .cards-slide__image-wraper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .cards-slide__title {
    margin-bottom: 25px;
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
  }
  .cards-slide__dscr {
    color: #d4d4d4;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 18px */
  }
}

.cards-slide {
  height: auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #b9b9b9;
}

.sliders-section {
  overflow: hidden;
  .sliders-section__wrapper {
    position: relative;
    &.aos-animate {
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.conf-section {
  .section-title {
    margin-bottom: 80px;
  }
  .conf-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .list-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-item {
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
  }
  .list-item__num {
    color: #fa0056;
    font-size: 83px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 100%;
  }

  .list-item__title {
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    margin-bottom: 24px;
  }

  .list-item__text {
    padding-right: 20px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
  }
}

.conf-section__paralax {
  position: absolute;
  &[data-paralax-item="1"] {
    bottom: 340px;
    width: 320px;
    height: 300px;
    left: 55%;
    .conf-section__paralax__container.aos-animate {
      img {
        animation-name: rotation;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  &[data-paralax-item="2"] {
    bottom: -70px;
    width: 450px;
    height: 450px;
    left: 25%;
    .conf-section__paralax__container.aos-animate {
      img {
        animation-name: rotation;
        animation-direction: reverse;
        animation-duration: 40s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

.hidden-wrapper {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.cards-slider {
  padding-bottom: 100px;
  border-bottom: 1px solid #b9b9b9;
}

.faq-section {
  .faq__list {
    margin-bottom: 100px;
  }
  .faq-item {
    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 150%; /* 27px */
    &.open {
      .faq-item__btn span:nth-child(1) {
        transform: rotate(90deg) translateX(-11.5px);
      }
    }
  }
  .faq-item__head {
    cursor: pointer;
    font-weight: 600;
    padding: 18px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
  }
  .faq-item__body {
    font-weight: 300;
    padding: 18px 0px;
    padding-top: 0;
    display: none;
    color: #d4d4d4;
  }
  .faq-item__btn {
    margin-left: 80px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    span {
      transition: transform 0.3s ease-in-out;
      display: block;
      width: 23px;
      height: 2px;
      background-color: #fa0056;
    }
    span:nth-child(1) {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 23px;
      width: 2px;
      transform: translate(-50%, -50%);
    }
  }
  .faq-item__body-inner {
    a {
      display: inline;
      color: #fa0056;
      font-weight: 500;
    }
  }
}

.white-section {
  .white-section__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    border-bottom: 1px solid #b9b9b9;
    padding-bottom: 100px;
  }
  .white-section__title {
    color: #fff;
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 74.4px */
    margin-bottom: 20px;
  }
  .white-section__descr {
    color: #d4d4d4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 27px;
    max-width: 590px;
    width: 100%;
  }
  .white-section__sale {
    width: fit-content;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(148deg, #47c6b6 0%, #010101 100%);
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 70.5px */
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  .white-section__sale-descr {
    color: #808080;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    max-width: 387px;
  }

  .white-section__right {
    flex-shrink: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .white-section__copy-block {
    max-width: 590px;
    width: 100%;
    border-radius: 8px;
    padding: 13px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
  }
  .copy-block__btn {
    cursor: pointer;
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.copied {
      svg path {
        stroke: green;
      }
    }
  }
  .copy-block__text {
    color: $brand-pink;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
  }
}
.white-section__body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.white-section__left,
.white-section__card {
  width: calc(50% - 30px);
}
.white-section__card {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.card-head {
  background-color: $brand-pink;
  padding: 30px;
  .card-title {
    margin-bottom: 24px;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  .card__price {
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 74.4px */
  }
}
.card__descr-list {
  padding: 30px !important;

  .card__descr-item {
    &:before {
      margin: 0px 8px;
      background: #000;
      display: block;
      content: "";
      width: 2px;
      height: 2px;
      border-radius: 50%;
    }
    display: flex;
    align-items: center;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
}

.ticket-sale {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 23px;
  border-radius: 18px;
  background-color: #fa0056;
  margin-top: 30px;
  margin-bottom: 20px;
}

.ticket-sale__descr {
  color: #b9b9b9;
}

.card__basket {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  margin: 25px 30px;
  margin-top: auto;
  background-color: $brand-pink;
  border-radius: 27px;
  box-shadow: 0px 5px 20px 0px rgba(250, 0, 86, 0.15);
  width: fit-content;
  display: flex;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  .ico {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 10px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.expo-section {
  position: relative;
  .expo-section__title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    span {
      display: inline;
      font-weight: 700;
    }
  }
  .expo-section__content {
    padding: 100px 0;
    border-bottom: 1px solid #b9b9b9;
  }
}

.section-title_w {
  align-items: center;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  .section-title {
    margin: 0 !important;
  }
  .pink-selection {
    font-size: 36px;
    font-weight: 700;
  }
}

.half-slider {
  padding-bottom: 100px;
  border-bottom: 1px solid #b9b9b9;
  overflow: visible;
  .half-slide__title {
    color: #fff;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 55.2px */
    margin-bottom: 70px;
  }
  .card__basket {
    margin: 0;
    margin-top: 28px;
  }
  .half-slide__content {
    gap: 30px;
    justify-content: space-between;
    display: flex;
    .half-slide__text,
    .half-slide__iamge {
      width: calc(50% - 15px);
    }
  }

  .half-slide__iamge {
    height: 425px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .half-slide__text {
    color: #d4d4d4;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
    a {
      display: inline;
      color: #fa0056;
      cursor: pointer;
    }
  }
  .swiper-pagination {
    transform: translateX(50%);
    left: inherit;
    right: 25%;
    bottom: -40px;
    width: fit-content;
    .swiper-pagination-bullet {
      margin: 0px 15px;
      width: 6px;
      height: 6px;
      background-color: #fff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: $brand-pink;
      border-radius: 0px;
      transform: rotate(-45deg);
    }
  }
}

.centered-slider-section {
  .centered-slider {
    overflow: visible;
  }
  .section-title {
    text-align: center;
    margin-bottom: 32px;
  }
  .centered-slider-section__text {
    padding-bottom: 100px;
    border-bottom: 1px solid #b9b9b9;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    color: #d4d4d4;
    margin-top: 20px;
  }
  .swiper-slide {
    width: 530px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 20px;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &.swiper-slide-active {
      transform: scale(1.1);
    }
  }
  .swiper-pagination {
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: -32px;
    width: fit-content;
    .swiper-pagination-bullet {
      margin: 0px 15px;
      width: 6px;
      height: 6px;
      background-color: #fff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: $brand-pink;
      border-radius: 0px;
      transform: rotate(-45deg);
    }
  }
  .centered-slider__btns {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .swiper-button-prev,
    .swiper-button-next {
      transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
      pointer-events: all;
      position: static;
      margin: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.3);
      svg {
        width: 50%;
        height: 50%;
        object-fit: contain;

        path {
          transition: fill 0.3s ease-in-out;
        }
      }
      &:hover {
        border-color: $brand-pink;
        svg {
          transition: transform 0.2s ease-in-out;

          path {
            fill: $brand-pink;
          }
        }
      }
      &:active {
        svg {
          transform: scale(0.8);
        }
      }
    }
  }
}

.map-section {
  background: #000;
  padding-bottom: 200px;
  .section-title {
    text-align: center;
    margin-bottom: 54px;
  }
  .map__container {
    &.aos-animate {
      &::before {
        animation-name: rotation;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    position: relative;
    &::before {
      z-index: 1;
      position: absolute;
      left: -180px;
      top: -180px;
      width: 1000px;
      height: 1000px;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1039' height='1039' viewBox='0 0 1039 1039' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect opacity='0.6' x='1.07227' y='302.839' width='794.618' height='794.618' transform='rotate(-22.3189 1.07227 302.839)' stroke='white'/%3e%3crect opacity='0.3' x='306.647' y='1' width='792.652' height='792.652' transform='rotate(22.6811 306.647 1)' stroke='white'/%3e%3c/svg%3e ");
    }
  }
  .map__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 705px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
    &::before {
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-image: url(../img/map-rocket.png);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 70%;
      z-index: 2;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    &:hover {
      &::before {
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
        opacity: 0 !important;
        transform: translate(-10%, 100%) !important;
      }
    }
    #map {
      width: 100%;
      height: 100%;
      filter: invert(100%) grayscale(2);
    }
  }
}

.list-section {
  background: #000;
  padding-top: 50px;
  padding-bottom: 100px;
  .section-title {
    margin-bottom: 100px;
  }
}

.rocket {
  width: 214px;
  height: 205px;
  position: absolute;
  right: 20%;
  top: 200px;
  z-index: -1;
  img {
    transform: rotate(-16.5deg);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.spinner-planet {
  &.aos-animate .rocket {
    animation: rocketFly 6s linear forwards;
  }
}

@keyframes rocketFly {
  from {
    transform: rotate(0deg) translate(-100%, 100%);
  }
  to {
    transform: rotate(45deg) translate(300%, -400%);
  }
}

.galaxy-video {
  height: 800px;
  margin-top: -100px;
  margin-bottom: -100px;
  width: 100%;
  position: relative;
  z-index: -1;
  &.aos-animate {
    video {
      opacity: 0.7;
    }
  }
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 2s ease-in-out;
    opacity: 0;
    animation: galaxyFilters 6s linear infinite;
    width: 150%;
    height: 150%;
    object-fit: contain;
    margin: auto;
  }
}

@keyframes galaxyFilters {
  0% {
    filter: contrast(100%);
  }
  50% {
    filter: contrast(150%);
  }
  100% {
    filter: contrast(100%);
  }
}

.organizers-section {
  position: relative;

  .organizers__wrapper {
    padding-bottom: 100px;
    border-bottom: 1px solid #b9b9b9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .organizer {
    width: 50%;

    &:nth-child(2) {
      padding-left: 65px;
    }
    &:last-child {
      margin-top: 30px;
      width: 51%;
    }
  }
  .organizer__logo {
    height: 91px;
    margin-bottom: 51px;
    img {
      object-fit: contain;
      object-position: top;
      height: 100%;
    }
  }
  .organizer__title {
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    margin-bottom: 24px;
  }
  .organizer__descr {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }
}

.contacts__wrapper {
  padding-bottom: 50px;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .contacts__item {
    margin-bottom: 50px;
    width: 50%;
    &:nth-child(even) {
      padding-left: 60px;
    }
  }
  .item__title {
    color: $brand-pink;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 30px */
    margin-bottom: 23px;
  }
  .item__data {
    margin-bottom: 23px;
  }
  .data__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 6px;
  }
  .data__value {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
  }
}

.partners-section {
  position: relative;
  &.aos-animate {
    &::before {
      opacity: 1;
    }
  }
  .partners__wrapper {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    .partners__item {
      width: 25%;
      padding: 36px 20px;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .item__iamge {
      width: 120px;
      height: 120px;
      margin: auto;
      margin-bottom: 34px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .item__name {
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 18px */
    }
    .item__descr {
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
    }
  }
}

.footer {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='228' height='215' viewBox='0 0 228 215' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M147.208 173.968V156.832H152.752V173.968H147.208ZM141.088 168.028V162.772H158.836V168.028H141.088ZM165.025 178V155.356L168.085 158.308H160.345V152.8H172.153V178H165.025ZM186.743 178.504C184.559 178.504 182.651 178.18 181.019 177.532C179.387 176.884 178.103 175.972 177.167 174.796C176.255 173.596 175.799 172.192 175.799 170.584C175.799 169 176.255 167.656 177.167 166.552C178.103 165.424 179.387 164.572 181.019 163.996C182.675 163.396 184.583 163.096 186.743 163.096C188.903 163.096 190.799 163.396 192.431 163.996C194.087 164.572 195.371 165.424 196.283 166.552C197.219 167.656 197.687 169 197.687 170.584C197.687 172.192 197.231 173.596 196.319 174.796C195.407 175.972 194.123 176.884 192.467 177.532C190.835 178.18 188.927 178.504 186.743 178.504ZM186.743 173.5C187.895 173.5 188.807 173.224 189.479 172.672C190.175 172.12 190.523 171.352 190.523 170.368C190.523 169.408 190.175 168.652 189.479 168.1C188.807 167.524 187.895 167.236 186.743 167.236C185.591 167.236 184.667 167.524 183.971 168.1C183.299 168.652 182.963 169.408 182.963 170.368C182.963 171.352 183.299 172.12 183.971 172.672C184.667 173.224 185.591 173.5 186.743 173.5ZM186.743 166.624C184.775 166.624 183.035 166.348 181.523 165.796C180.035 165.244 178.859 164.452 177.995 163.42C177.131 162.364 176.699 161.104 176.699 159.64C176.699 158.128 177.119 156.832 177.959 155.752C178.823 154.672 180.011 153.832 181.523 153.232C183.035 152.608 184.775 152.296 186.743 152.296C188.735 152.296 190.475 152.608 191.963 153.232C193.475 153.832 194.651 154.672 195.491 155.752C196.355 156.832 196.787 158.128 196.787 159.64C196.787 161.104 196.355 162.364 195.491 163.42C194.651 164.452 193.475 165.244 191.963 165.796C190.451 166.348 188.711 166.624 186.743 166.624ZM186.743 162.592C187.655 162.592 188.387 162.364 188.939 161.908C189.491 161.428 189.767 160.78 189.767 159.964C189.767 159.1 189.479 158.44 188.903 157.984C188.351 157.528 187.631 157.3 186.743 157.3C185.855 157.3 185.135 157.528 184.583 157.984C184.031 158.44 183.755 159.1 183.755 159.964C183.755 160.78 184.031 161.428 184.583 161.908C185.135 162.364 185.855 162.592 186.743 162.592Z' fill='%23FA0056'/%3e%3ccircle opacity='0.6' cx='168.5' cy='168.5' r='61' stroke='%23FA0056'/%3e%3ccircle opacity='0.4' cx='168.5' cy='168.5' r='110' stroke='%23FA0056'/%3e%3ccircle opacity='0.2' cx='168.5' cy='168.5' r='168' stroke='%23FA0056'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right -10px bottom -10px;
  padding-top: 38px;
  padding-bottom: 60px;
  background-color: #000000;
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__logo {
    width: 95px;
    height: 60px;
    margin-bottom: 25px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .logo-descr {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    margin-bottom: 20px;
  }
  .make-from {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .socials {
    display: flex;
    justify-content: flex-end;
  }
  .social__item {
    &:not(:last-child) {
      margin-right: 22px;
    }
    width: 22px;
    height: 22px;
    svg {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .block-group {
    margin-bottom: 20px;
  }
  .block-group__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    margin-bottom: 5px;
  }
  .block-group__value {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .card__basket {
    margin: 0;
    margin-left: auto;
    margin-bottom: 38px;
  }
}

.mob-menu-btn {
  position: relative;
  z-index: 3;
  cursor: pointer;
  width: 24px;
  height: 22px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  span {
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    border-radius: 2px;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  @media (max-width: 1300px) {
    display: flex;
  }
  &.active {
    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
    span:nth-child(2) {
      display: none;
    }
  }
}
.mobile-menu {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='94' height='59' viewBox='0 0 94 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_362_1186)'%3e%3cpath d='M26.7893 21.065C16.755 17.0617 5.39551 21.9705 1.41968 32.0739C-2.55615 42.1772 2.31898 53.615 12.3532 57.6183C16.9917 59.4769 22.1508 59.4769 26.7893 57.6183V48.5157C21.7248 51.0415 15.6191 48.9923 13.1105 43.9406C10.602 38.8412 12.6372 32.6934 17.6543 30.1676C20.5415 28.7378 23.9021 28.7378 26.7893 30.1676V21.065Z' fill='%23FA0056'%3e%3c/path%3e%3cpath d='M23.8078 12.2482C26.6004 9.43638 26.6004 4.90892 23.8078 2.09713C21.0153 -0.714667 16.4715 -0.714667 13.7262 2.09713C10.9337 4.90892 10.9337 9.43638 13.7262 12.2482C16.4715 15.06 20.9679 15.06 23.8078 12.2482C23.7605 12.2482 23.7605 12.2482 23.8078 12.2482Z' fill='%23FA0056'%3e%3c/path%3e%3cpath d='M44.1129 57.4748C44.1129 57.3318 44.1129 57.2365 44.1602 57.0935C44.2076 56.9506 44.1602 56.8553 44.1602 56.6646C44.1602 56.2357 44.0182 55.8068 43.6869 55.5208C43.3083 55.2349 42.8349 55.0443 42.3616 55.0919H38.2911C38.9538 54.52 39.7111 53.7575 40.563 52.8997C42.551 50.8028 43.5449 48.8965 43.5449 47.1808C43.6396 45.9893 43.1663 44.8456 42.3143 44.0354C41.5097 43.3205 40.3737 42.9393 38.9064 42.9393C37.3445 42.8916 35.8299 43.4635 34.6466 44.4166C34.3626 44.6073 34.1733 44.9409 34.126 45.2745C34.126 45.6557 34.4573 46.18 35.1199 46.9902C35.5932 46.4659 36.2086 46.0847 36.8239 45.7511C37.3445 45.5128 37.9598 45.3698 38.5278 45.3698C39.0958 45.3221 39.6164 45.5128 40.0424 45.894C40.421 46.2753 40.6104 46.7995 40.6104 47.3714C40.6104 48.5152 39.9951 49.7543 38.7644 51.0887C38.1018 51.8512 37.3445 52.6137 36.4925 53.4239C35.6879 54.2341 34.9306 54.8536 34.3153 55.3302V57.4271L44.1129 57.4748ZM56.845 44.7026C55.7564 43.4158 54.1471 42.7486 52.1119 42.7486C50.8813 42.701 49.698 43.0346 48.6094 43.6541C47.6154 44.2737 46.8108 45.1792 46.3375 46.2753C45.7695 47.5144 45.4855 48.8965 45.5328 50.2785C45.4855 51.6606 45.7695 53.0427 46.2901 54.3294C46.7161 55.4255 47.4734 56.331 48.4674 56.9982C49.5087 57.6654 50.7393 57.9514 51.9699 57.9037C54.0525 57.9037 55.7091 57.2365 56.845 55.8545C57.981 54.52 58.5489 52.6137 58.5489 50.2309C58.5016 47.848 57.9336 46.037 56.845 44.7026ZM54.6204 54.0911C53.6738 55.5208 51.7806 55.9021 50.3606 54.949C50.0293 54.7107 49.7453 54.4247 49.5087 54.0911C48.8933 53.138 48.6094 51.8512 48.6094 50.2309C48.6094 48.6105 48.8933 47.3238 49.5087 46.4183C50.0766 45.5604 51.1179 45.0362 52.1592 45.0839C53.1532 45.0362 54.1471 45.5604 54.6678 46.4183C55.2357 47.3238 55.5197 48.5629 55.5197 50.2309C55.5197 51.8989 55.1884 53.1856 54.6204 54.0911ZM69.8611 57.4748C69.8611 57.3318 69.8611 57.2365 69.9085 57.0935C69.9558 56.9506 69.9085 56.8553 69.9085 56.6646C69.9085 56.2357 69.7665 55.8068 69.4351 55.5208C69.0565 55.2349 68.5832 55.0443 68.1099 55.0919H63.992C64.6547 54.52 65.412 53.7575 66.2639 52.8997C68.2519 50.8028 69.2458 48.8965 69.2458 47.1808C69.3405 45.9893 68.8672 44.8456 68.0152 44.0354C67.2106 43.3205 66.0746 42.9393 64.6073 42.9393C63.0454 42.8916 61.5308 43.4635 60.3475 44.4166C60.0635 44.6073 59.8742 44.9409 59.8269 45.2745C59.8269 45.6557 60.1582 46.18 60.8208 46.9902C61.3415 46.4659 61.9095 46.0847 62.5248 45.7511C63.0454 45.5128 63.6607 45.3698 64.2287 45.3698C64.7967 45.3221 65.3173 45.5128 65.7433 45.894C66.122 46.2753 66.3586 46.7995 66.3113 47.3714C66.3113 48.5152 65.696 49.7543 64.4654 51.0887C63.8027 51.8512 63.0454 52.6137 62.1934 53.4239C61.4835 54.0911 60.7735 54.7107 60.0162 55.3302V57.4271L69.8611 57.4748ZM81.9779 57.4748C81.9779 57.3318 81.9779 57.2365 82.0253 57.0935C82.0726 56.9506 82.0253 56.8553 82.0253 56.6646C82.0253 56.2357 81.8833 55.8068 81.552 55.5208C81.1733 55.2349 80.7 55.0443 80.2267 55.0919H76.1089C76.7715 54.52 77.5288 53.7575 78.3808 52.8997C80.3687 50.8028 81.3626 48.8965 81.3626 47.1808C81.4573 45.9893 80.984 44.8456 80.132 44.0354C79.3274 43.3205 78.1914 42.9393 76.7242 42.9393C75.1622 42.8916 73.6476 43.4635 72.4644 44.4166C72.1804 44.6073 71.991 44.9409 71.9437 45.2745C71.9437 45.6557 72.275 46.18 72.9377 46.9902C73.4583 46.4659 74.0263 46.0847 74.6416 45.7511C75.1622 45.5128 75.7775 45.3698 76.3455 45.3698C76.9135 45.3221 77.4341 45.5128 77.8601 45.894C78.2388 46.2753 78.4754 46.7995 78.4281 47.3714C78.4281 48.5152 77.8128 49.7543 76.5822 51.0887C75.9195 51.8512 75.1622 52.6137 74.3103 53.4239C73.6003 54.0911 72.8903 54.7107 72.133 55.3302V57.4271L81.9779 57.4748Z' fill='%23FA0056'%3e%3c/path%3e%3cpath d='M45.2491 35.2187C45.3438 35.0757 45.3438 34.8851 45.3438 34.7421C45.3438 34.3609 45.0124 33.789 44.3498 33.0265C44.1132 33.2171 43.8765 33.4554 43.6398 33.646C43.3085 33.8843 42.9772 34.0749 42.5986 34.2179C42.1252 34.4085 41.6519 34.4562 41.1786 34.5039C40.0427 34.5515 38.954 34.0749 38.2441 33.1694C37.5341 32.2639 37.2028 31.0249 37.2028 29.3568C37.2028 27.7841 37.5341 26.545 38.1967 25.6396C38.8594 24.7341 39.9007 24.2098 41.0366 24.3051C41.6519 24.3051 42.2199 24.4005 42.7879 24.6387C43.4032 24.9247 43.9238 25.306 44.3498 25.7825C45.0124 25.1153 45.3911 24.5434 45.3911 24.1145C45.3911 23.7333 45.2018 23.3997 44.9178 23.209C44.3971 22.7801 43.8292 22.4465 43.2139 22.2559C42.4566 22.0176 41.6993 21.8746 40.8946 21.8746C39.664 21.827 38.4334 22.1606 37.3448 22.7324C36.3508 23.352 35.4989 24.2575 35.0255 25.3536C34.4576 26.6404 34.1736 28.0224 34.2209 29.4045C34.2209 31.7874 34.7889 33.646 35.9722 34.9328C37.1554 36.2195 38.7647 36.8867 40.942 36.8867C41.5099 36.8867 42.0306 36.8391 42.5986 36.7438C43.0719 36.6484 43.5452 36.5055 43.9712 36.3148C44.3025 36.1719 44.6338 35.9812 44.9178 35.6953C45.0125 35.5047 45.1544 35.3617 45.2491 35.2187ZM57.9812 23.7333C56.8926 22.4465 55.2833 21.7793 53.2481 21.7793C52.0175 21.7793 50.8342 22.0652 49.7456 22.6848C48.7516 23.3043 47.947 24.2098 47.4737 25.306C46.9057 26.545 46.6217 27.9271 46.669 29.3092C46.6217 30.6912 46.9057 32.0733 47.4263 33.3601C47.8523 34.4562 48.6096 35.3617 49.6036 36.0289C50.6449 36.6961 51.8755 37.0297 53.1061 36.982C55.1887 36.982 56.8453 36.3148 57.9812 34.9328C59.1172 33.5984 59.6852 31.6921 59.6852 29.3092C59.6378 26.8786 59.0699 25.0677 57.9812 23.7333ZM55.7093 33.1218C54.7627 34.5515 52.8694 34.9328 51.4495 33.9796C51.1182 33.7413 50.8342 33.4554 50.5975 33.1218C49.9822 32.2163 49.6983 30.8819 49.6983 29.2615C49.6983 27.5935 49.9822 26.3544 50.5975 25.4489C51.1655 24.5911 52.2068 24.0669 53.2481 24.1145C54.2421 24.0669 55.236 24.5911 55.7567 25.4489C56.3246 26.3544 56.6086 27.5935 56.6086 29.2615C56.6086 30.9295 56.3246 32.2163 55.7093 33.1218ZM62.667 22.1606L61.6257 36.5055H64.4183L65.0336 27.2123L67.8735 33.503H70.3347L73.2693 26.9263L73.9319 36.5055H76.7244L75.6831 22.1606C75.2098 22.0176 74.6892 21.9223 74.2159 21.9699C73.4113 21.9699 72.7013 22.4942 72.4173 23.2567L69.1514 30.8819L65.8856 23.1614C65.7436 22.7801 65.5069 22.4465 65.1756 22.2082C64.8916 22.0176 64.513 21.9223 64.1816 21.9223C63.661 21.9223 63.1877 21.9699 62.667 22.1129V22.1606ZM79.943 22.1606L78.9017 36.5055H81.6942L82.3569 27.1646L85.1968 33.4554H87.658L90.5925 26.8787L91.2552 36.4578H94.0477L93.0064 22.1129C92.5331 21.9699 92.0125 21.9223 91.4918 21.9223C90.6872 21.9223 89.9772 22.4465 89.6932 23.209L86.4274 30.8342L83.1615 23.1137C83.0195 22.7324 82.7828 22.3988 82.4515 22.1606C82.1675 21.9699 81.7889 21.8746 81.4576 21.8746C80.9369 21.8746 80.4636 21.9223 79.943 22.0652V22.1606Z' fill='%23FA0056'%3e%3c/path%3e%3cpath d='M34.5518 15.4885H37.4863V2.62094C37.4863 1.47716 36.871 0.952931 35.593 0.952931C35.2617 0.952931 34.8831 1.00059 34.5518 1.04825V15.4885ZM51.7804 2.62094C51.7804 1.47716 51.1651 0.952931 49.9344 0.952931C49.6031 0.952931 49.3191 1.00059 48.9878 1.04825V11.0087L43.45 1.90608C43.2607 1.57248 43.0241 1.33419 42.6927 1.14356C42.4088 1.00059 42.0301 0.952931 41.6988 0.952931C41.2728 0.952931 40.7995 1.00059 40.3735 1.0959V15.5361H43.1661V6.00463L49.2718 15.4885H51.733C51.7804 15.4885 51.7804 2.62094 51.7804 2.62094ZM57.9334 15.4885H60.868V3.47878H63.5659C64.0392 3.52644 64.5125 3.38346 64.8438 3.09752C65.1751 2.81157 65.3171 2.43031 65.3171 2.0014C65.3171 1.66779 65.3171 1.38185 65.2698 1.04825H55.1882C54.7149 1.00059 54.2416 1.19122 53.8629 1.47716C53.5316 1.76311 53.3896 2.19203 53.3896 2.62094C53.3896 2.90689 53.3896 3.19283 53.437 3.47878H57.9334V15.4885ZM70.0029 13.2009V9.19768H74.5467V6.91012H70.0029V3.33581H74.2154C74.736 3.38346 75.2094 3.24049 75.6353 3.0022C75.9667 2.71626 76.1087 2.28734 76.0613 1.81077C76.0613 1.52482 76.0613 1.28653 76.014 1.00059H67.0684V15.4885H76.3453C76.3453 15.3455 76.3926 15.2502 76.3926 15.1549C76.3926 15.0596 76.3926 14.9166 76.3926 14.7736C76.3926 14.3447 76.2506 13.9158 75.9193 13.6298C75.5407 13.3439 75.0674 13.2009 74.5941 13.2486L70.0029 13.2009ZM86.5215 1.95374C85.5276 1.23888 84.013 0.905273 81.9777 0.905273C80.6998 0.905273 79.4692 0.952931 78.1912 1.14356V15.5361H81.1731V10.0555H82.3564L84.8176 14.2494C85.0543 14.6783 85.3856 15.0596 85.8116 15.3932C86.1429 15.6314 86.6162 15.7268 87.0895 15.7268C87.7048 15.7268 88.2728 15.5838 88.7935 15.3455L85.2436 9.38831C86.0482 9.10236 86.7582 8.53047 87.2315 7.81561C87.7048 7.05309 87.9888 6.09994 87.9415 5.19445C87.9888 3.71707 87.5155 2.6686 86.5215 1.95374ZM84.2023 7.38669C83.6343 7.86327 82.877 8.10156 82.1671 8.0539H81.1731V3.04986L81.6464 3.0022C81.8357 3.0022 82.0724 3.0022 82.3091 3.0022C83.019 2.95455 83.729 3.14518 84.297 3.57409C84.7703 4.05067 85.0069 4.76553 84.9596 5.43274C84.9596 6.1476 84.6756 6.86246 84.2023 7.38669Z' fill='%23FA0056'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_362_1186'%3e%3crect width='94' height='59' fill='white'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: bottom 30px center;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #252525;
  .header__btn {
    display: flex;
    margin: auto;
    margin-top: 20px;
  }
  .header__nav {
    padding-top: 80px;
    display: flex !important;
    flex-direction: column;
    .header__link {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.scroll-to-top {
  &.show {
    opacity: 1;
    visibility: visible;
  }
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 40px;
  z-index: 5;
  bottom: 85px;
  @media (max-width: 576px) {
    right: inherit;
    left: 15px;
    bottom: 30px;
  }
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $brand-pink;
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
  svg {
    transition: transform 0.3s ease-in-out;

    stroke: $brand-pink;
    path {
      fill: $brand-pink;
    }
  }
}

#toast-container {
  bottom: inherit !important;
  top: 12px;
}
.reviews__content {
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(185, 185, 185);
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}
.reviews-item {
  line-height: 120%;
  display: flex;
  width: calc(50% - 15px);
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 60px;
  }
  .reviews-item__num {
    margin-right: 30px;
    font-size: 48px;
    color: #fa0056;
  }
}
.who-section__list {
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.who-section__item {
  display: flex;
  align-items: flex-start;
  padding: 40px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:not(:last-child) {
    border-bottom: 1px solid rgb(185, 185, 185);
  }
  .item__num {
    color: #fa0056;
    font-size: 83px;
    line-height: 100%;
    margin-right: 65px;
    font-weight: 700;
  }

  .item__cont-title {
    font-size: 30px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 120%;
  }
  .item__cont-descr {
    font-size: 20px;
    color: #b9b9b9;
    font-weight: 300;
  }
}
@media (max-width: 1200px) {
  .footer__block:last-child {
    .card__basket {
      margin: 20px 0;
    }
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1300px) {
  .header__nav,
  .header__btn {
    display: none;
  }
  .header__wrapper {
    justify-content: space-between;
  }
  .header {
    z-index: 2;
  }
  .expo-section .expo-section__title {
    font-size: 7vw;
  }
}

@media (max-width: 1280px) {
  .partners-section .partners__wrapper .partners__item {
    width: 33.33%;
  }
}

@media (max-width: 992px) {
  .footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .conf-section .list-item {
    width: calc(50% - 15px);
    margin-bottom: 20px;
  }
  .program__list {
    flex-direction: column;
  }
  .program__list .list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  .program__list .list-item__ico {
    font-size: 48px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .cards-slider__container
    .cards-slider__arrows
    .swiper-pagination
    .swiper-pagination-bullet {
    margin: 0px 10px;
  }
  .white-section__head {
    flex-direction: column;
  }
  .white-section__left,
  .white-section__card {
    width: 100%;
  }
  .white-section .white-section__copy-block {
    max-width: inherit;
  }
  .ticket-sale__descr {
    br {
      display: none;
    }
  }
  .who-section__item .item__num {
    margin-right: 30px;
  }
  .section-title,
  .who-section__item .item__num,
  .white-section .white-section__title {
    font-size: 44px;
  }
  .organizers-section .organizers__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .organizers-section .organizer:nth-child(2) {
    padding-left: 0;
  }
  .section-title_w {
    flex-direction: column;
  }
  .centered-slider-section .centered-slider-section__text {
    text-align: center;
  }
}
@media (max-width: 860px) {
  .main-screen__title {
    font-size: 13vw;
  }
  .main-screen-subtitle {
    font-size: 5vw;
  }
}

@media (max-width: 768px) {
  .interesting__list .list-item {
    width: 100%;
  }
  .partners-section .partners__wrapper .partners__item {
    width: 50%;
  }
  .organizers-section .organizer {
    width: 100% !important;
  }
  .contacts__wrapper .contacts__item {
    width: 100%;
    padding-left: 0 !important;
  }
  .section-title {
    margin: 60px 0 !important;
  }
  .interesting__list,
  .player__wrapper {
    margin-bottom: 60px !important;
    padding-bottom: 60px !important;
  }
  .program__list {
    padding-bottom: 60px !important;
  }
  .reviews-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  .reviews__content {
    padding-bottom: 0;
  }
  .conf-section .list-item {
    width: 100%;
  }
  .faq-section .faq__list {
    margin-bottom: 60px;
  }
  .expo-section .expo-section__content {
    padding: 60px 0;
  }
  .half-slider .half-slide__text {
    font-size: 22px;
  }
  .section-title_w {
    margin-top: 60px;
  }
  .centered-slider-section .centered-slider-section__text,
  .who-section__list,
  .white-section .white-section__head,
  .half-slider {
    padding-bottom: 60px;
  }
  .section-title {
    font-size: 38px;
  }
  .who-section__item,
  .program__list .list-item,
  .reviews-item {
    flex-direction: column;
  }
  .program__list .list-item,
  .reviews-item {
    align-items: flex-start;
  }
  .program__list .list-item__ico,
  .reviews-item .reviews-item__num {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .who-section__item .item__num {
    margin-bottom: 0;
    margin-bottom: 20px;
  }
  .contacts__wrapper {
    padding-bottom: 10px;
  }
  .faq-section .faq-item__head {
    font-size: 22px;
  }
  .faq-section .faq-item__body {
    font-size: 16px;
  }
  .conf-section .list-item__num,
  .reviews-item .reviews-item__num,
  .program__list .list-item__ico {
    font-size: 44px;
  }
  .container {
    padding: 0px 15px;
  }
  .section-title br {
    display: none;
  }
  .who-section__item .item__cont-title {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .partners-section .partners__wrapper .partners__item {
    width: 100%;
  }
  .section-title {
    font-size: 32px;
  }
  .who-section__item .item__cont-title {
    font-size: 24px;
  }
  .who-section__item .item__cont-descr {
    font-size: 16px;
  }
  .cards-slider__container .cards-slide__dscr {
    font-size: 14px;
  }
  .cards-slider__container .cards-slide__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .plyr__control--overlaid {
    width: 70px !important;
    height: 40px !important;
  }
}
